<div id="mainholder" class="clearfix">
  <h1><br />
    Contact Us!</h1>
  <table class="contact">
    <tr>
      <th>Margaret</th>
      <td><%= mail_to "margaret@espeeco.org", "margaret@espeeco.org" %></td>
    </tr>
    <tr>
      <th>Linda</th>
      <td><%= mail_to "linda@espeeco.org", "linda@espeeco.org" %></td>
    </tr>
    <tr>
      <th>Mandy</th>
      <td><%= mail_to "mailto:mandy@espeeco.org", "mandy@espeeco.org", :class=>"style19" %></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</div>
