<div id="mainholder" class="clearfix">
  <p class="centertext">&nbsp;</p>
  <h1>Share Fees </h1>
  <table class="fees">
    <tr>
      <th>&nbsp;</th>
      <th>Shown on Fee Schedule</th>
      <th>Short Descriptor(shown on statement and/or receipt)</th>
      <th>Assessed Against What type</th>
      <th>Fee Amount</th>
      <th>Calculation Metdod</th>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Return Check</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$25.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Account Activity Print-Out</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Dormant Account</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Copy of Statement</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Account Research (Hourly Rate)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$25.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Mail Over-Night</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$14.40</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Acount Fees</td>
      <td>Wire Transfer</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$30.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ATM Fees</td>
      <td>Credit Union Fee (Cash witddrawal from ATM machine)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$1.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ATM Fees</td>
      <td>Bank Fee to use tdeir machine</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$1.00 to $2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ATM Fees</td>
      <td>Inquiry (at ATM machine</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$0.50</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ATM Fees</td>
      <td>ATM replacement card </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ATM Fees</td>
      <td>PIN reminder</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ACH Fees</td>
      <td>Non-Sufficient-Funds (return)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$20.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>ACH Fees</td>
      <td>Stop Payment on ACH</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Share Draft Fees</td>
      <td>Draft Copy</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Share Draft Fees</td>
      <td>Return NSF Check</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$20.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Share Draft Fees</td>
      <td>Manually Clear NSF Check</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Share Draft Fees</td>
      <td>Stop Payment on Check</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Share Draft Fees</td>
      <td>District Attoney/Check Buster Processing</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Share Draft Fees</td>
      <td>Account Activity Printout</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$1.00</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>Share Draft Fees</td>
      <td>Monthly Service Charge</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$5.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Money Order</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Cashier Check</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$5.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Travelers Checks - 1 Signature (per $100.00)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$0.60</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Travelers Checks - 2 Signature (per $100.00)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$0.75</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Notary Fee (for Members)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Notary Fee (for non-members)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$10.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Stop Payment on Credit Union Check</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$25.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Fax-Outgoing 1 Page</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Fax-Incoming 1 Page</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$2.00</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Miscellaneous Fees</td>
      <td>Fax-Additional Pages</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$1.00</td>
      <td>&nbsp;</td>
      </tr>
  </table>
  <p class="centertext">&nbsp;</p>
  <p class="centertext">&nbsp;</p>
</div>