<div id="mainholder" class="clearfix">
  <p>&nbsp;</p>
  <h1>Espeeco Federal Credit Union &ndash; A Brief History</h1>
  <p>In 1952, when most Southern Pacific Employees had never
      heard or even dreamed of a Credit Union, Jake Fannin, a switchman, and his
      wife Mary Ellen knew of these things and had a strong desire to get a credit
      union started for Southern Pacific employees in Bakersfield.&nbsp; Mary already
      had considerable banking experience and with a little help and advice from
      the Kern County Teachers Credit Union, convinced a dozen Southern Pacific
      employees that a credit union for them would be a good thing indeed.<br />
  <br />
      The group dug deep in their pockets and with a couple thousand dollars
      held their first meeting in the Fannin home.&nbsp; Their home actually
      became the office and headquarters for the credit union.&nbsp; The original
      members helped to fill all the officer and board positions.&nbsp; Slowly
      membership started to grow and today (1994) Espeeco has assets of $8.6
      million*.<br />
  <br />
      The idea must have been a good one as credit unions for Southern Pacific
      employees flourished after Bakersfield.&nbsp; &ldquo;As they have grown,
      many of us feel very proud as this was not for ourselves, but for the people
      we worked with every day.&nbsp; I believe it was once said by a wise man, &ldquo;If
      you build a better mousetrap, they will make a path to your door.&rdquo;&nbsp; Espeeco
      has proven this over the years.<br />
      This brief history is attributed to Walt Williams, a founding member and
      former chairman and published in 1994.&nbsp; It originally appeared in
      the CU In The News monthly publication of the Kern Chapter of the
      California Credit Union League in 1994.<br />
  <br />
      *Asset value today is approximately $10 million.</p>
  <p>&nbsp;</p>
  
</div>