<div id="mainholder" class="clearfix">
  <p class="centertext">&nbsp;</p>
  <h1>We will be closed for the following Holidays in 2010-2011</h1>
  
  <table class="holiday">
	<tr>
      <td>Columbus Day</td>
      <td>Oct 11, 2010</td>
    </tr>
    <tr>
      <td>Veteran's Day</td>
      <td>Nov 11, 2010</td>
    </tr>
    <tr>
      <td>Thanksgiving Day</td>
      <td>Nov 25, 2010</td>
    </tr>
    <tr>
      <td>Day after Thanksgiving</td>
      <td>Nov 26, 2010</td>
    </tr>
	<tr>
      <td>Christmas Eve</td>
      <td>Dec 24, 2010</td>
    </tr>
    <tr>
      <td>Christmas Day</td>
      <td>Dec 25, 2010</td>
    </tr>
	<tr>
      <td>New Year's Eve</td>
      <td>Dec 31, 2010</td>
    </tr>
    <tr>
      <td>New Year's Day</td>
      <td>Jan 1, 2011</td>
    </tr>
    <tr>
      <td>Martin Luther King Jr.</td>
      <td>Jan 17, 2011</td>
    </tr>
    <tr>
      <td>Presidents Day</td>
      <td>Feb 21, 2011</td>
    </tr>
    <tr>
      <td>Memorial Day</td>
      <td>May 30, 2011</td>
    </tr>
    <tr>
      <td>Labor Day&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
      <td>Sept 5, 2011</td>
    </tr>
    <tr>
      <td>Columbus Day</td>
      <td>Oct 10, 2011</td>
    </tr>
    <tr>
      <td>Veteran's Day</td>
      <td>Nov 11, 2011</td>
    </tr>
    <tr>
      <td>Thanksgiving Day</td>
      <td>Nov 24, 2011</td>
    </tr>
    <tr>
      <td>Day after Thanksgiving</td>
      <td>Nov 25, 2011</td>
    </tr>
    <tr>
      <td>Christmas Day</td>
      <td>Dec 25, 2011</td>
    </tr>
  </table>
  <p>&nbsp;</p>
</div>