<div id="mainholder" class="clearfix">
  <h1>&nbsp;</h1>
  
<div class="mainleft">
		<div id="welcome">
   		  <%= image_tag "https://www.espeeco.org/bakers.gif", :alt=>"Welcome to Bakersfield", :class=>"fleft" %>
      		<p>&nbsp;</p>
      		<p><strong>Our Mission</strong></p>
        </div>
        
        <div id="companylinks">
          <ul>
            <li class="noarrow">COMPANY LINKS</li>
            <li class="companylinks"><a href="#">Traveler Checks</a></li>
            <li class="companylinks"><a href="#">Money Orders</a></li>
            <li class="companylinks"><a href="#">Notary Services</a></li>
            <li class="companylinks"><a href="#">Direct Deposit</a></li>
            <li class="companylinks"><%= link_to "Blue Book Quote", "http://www.kbb.com/?trid=20%A0psid=1-114-6700-5-4-3%A0gclid=CLeT99rv55QCFQZinAodf1MrSw", :rel=>"external" %></li>
          </ul>
  </div>
        	
           <div>
            <p><br />
              Espeeco Federal Credit Union's mission is to provide and promote to our
              field of membership financial services which may be more competitive
             than those generally available from other sources.</p>
  		   </div>
           
</div>

<div class="mainright">
  <div id="rightcontent">
    <h1>Welcome TO Espeeco Credit Union</h1>
    <%= image_tag "https://www.espeeco.org/slides.gif", :alt=>"Credit Union Staff" %>
    <p> Espeeco Federal Credit Union of Bakersfield, CA has 1,948 members and
      assets of $10 million.&nbsp; </p>
    <p>The credit union, opened in 1954, has 4 full
      time employees and 1 part time employee, or 487 members per employee, compared to a national average of 457. </p>
  </div>
 </div>

</div>
