          </div>        
      <div id="footer">          
         <table>
            <tr>
              <td><%= image_tag "ncua.gif", :alt=>"" %></td>
              <td><%= link_to image_tag("shareone.jpg", :alt=>"Share One"), "http://www.shareone.com", :rel=> "external" %></td>
              <td><%= image_tag "ehl.jpg", :alt=>"" %></td>
            </tr>
            <tr>
              <td>Your savings federally insured to at least $250,000 and
                  backed by the full faith and credit of the United States Government. </td>
              <td>Site design by: <%= link_to "Share One, Inc.","http://www.shareone.com" %></td>
              <td>We do business in accordance with the Federal Fair Housing
                  Law &amp; the Equal Credit Opportunity Act.</td>
            </tr>
          </table>

	  </div>
	</div>